@import '../../scss/colors.scss';
@import '../../scss/main.scss';
@import '../../scss/sizes.scss';
.scroll {
    overflow: auto; 
    //padding: 0 20rem; 
    padding: 1rem;
      
}
.title {
    margin: 2rem 0;
}
@media screen and (max-width:1150px) {
    .title {
        margin: 7rem 0; 
        margin-bottom: 3rem;
    }
}

@media screen and (max-width:768px) {
    .title {
        margin-top: 10rem 0;
        margin-bottom: 5rem; 
    }
}