@import '../../scss/colors.scss';
@import '../../scss/main.scss';
@import '../../scss/sizes.scss';

.header {
    position: fixed;
    width: 100vw;
    background-color: rgba($color: $yale-blue, $alpha: .7);   
}
.container {
    display: flex;
}
.left-side-menu {
    flex: 1;
    display: flex;
    align-items: center;
}
.right-side-menu {
    flex: 1;
}
.logo {
    width: 29%;
    height: 2rem;
    background-image: url('../../fonts/icono.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    padding: 1.5rem;
    color: $orange;
    font-weight: 400;
    cursor: pointer;

    & :hover {
        font-weight: 600;
    }
}
.active {
    font-weight: 600;
    color: $acid-green;
}
.hamburger {
    display: none;
}
//responsive

@media screen and (max-width: 980px) {
    .hamburger { 
        display: block;
    }
    .top-menu {
        display: none;
    }
    .header {
        background-color: transparent;  
        padding: 1.5rem; 
    }
    .logo {
        width: 30rem;
    }
    .container {
        margin: 0;
    }
}
