@import '../../scss/cards';
@import '../../scss/main.scss';
@import '../../scss/sizes.scss';

.width {
    width: 50%;
}
.title {
    margin: 2rem 0;
}
.scroll {
    overflow: auto; 
    padding: 1rem;
    padding-bottom: 1rem;     
}
.playing {
    margin-left: auto;
}

.card {
    padding: 1rem 0;
}
@media screen and (max-width:1150px) {
    .title {
        margin: 7rem 0; 
        margin-bottom: 3rem;
    }
}

@media screen and (max-width:768px) {
    .title {
        margin-top: 10rem 0;
        margin-bottom: 5rem; 
    }
}