@import '../../scss/cards';
@import '../../scss/main.scss';
@import '../../scss/sizes.scss';

.width {
    width: 50%;
}
.title {
    margin: 0 22rem;
    margin-top: 2rem;
}
.scroll {
    overflow: auto; 
    padding: 0 20rem; 
    padding-bottom: 1rem;     
}

.card {
    padding: 1rem 0;
}

.buttons {
    text-align: center;
    // width: 50%;
    align-content: center;
  }
  
  .button {
    padding: 0.5rem;
    border-radius: 2px;
    transition: 0.2s;
    width: 20%;
    height: 50%;

    &:hover {
        cursor: pointer;
    }
  }