<div class="container"> 
    <div class="scroll">
        <div class="width" *ngFor="let event of eventDetails.responses"> 
            <div class="card">
                <span class="gap">                  
                  {{event.name}}
                </span>
                <span class="gap">{{event.playing | playing}}</span>
            </div>            
        </div>
    </div>    
    <div  *ngIf="enableCreateButton()">
      <button class="button" (click)="createTeams()">Crear equipos</button>
    </div>
    <div *ngIf="enableConfirmCancelButtons()">
      <button class="button" (click)="confirm()">Confirmar</button>
      <button class="button" (click)="cancel()">Cancelar</button>
    </div>
</div>
