@import '../../scss/cards';
@import '../../scss/main.scss';
@import '../../scss/sizes.scss';

.width {
    width: 50%;
}
.title {
    margin: 0 22rem;
    margin-top: 2rem;
}
.scroll {
    overflow: auto; 
    padding: 0 20rem; 
    padding-bottom: 1rem;     
}

.card {
    padding: 1rem 0;
}

.redTeam, .blueTeam {
    width: 50%;
}

.redTeam .card{
    background-color:rgba($color: red, $alpha: 0.6);
}

.blueTeam .card{
    background-color:rgba($color: blue, $alpha: 0.6);
}

.teams {
    display: flex;
}